<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/shopping-cart">Shopping Cart</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/product"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/order">orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-product">admin-product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/manage-product">manage-product</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            routerLink="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ngbDropdownToggle
            >Settings</a
          >
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li>
              <a class="dropdown-item" ngbDropdownItem routerLink="/order"
                >my orders</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                ngbDropdownItem
                routerLink="/admin-product"
                >admin product</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                ngbDropdownItem
                routerLink="/manage-product"
                >manage product</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <a class="d-flex btn btn-outline-success" routerLink="/login">login</a>
      <a class="d-flex btn btn-outline-danger" routerLink="/login">logout</a>
    </div>
  </div>
</nav>
